.aura {

    width: 200px;
    height: 200px;
}

.Obby {

    width: 400px;
    height: 400px;
}

.Fish {

    width: 500px;
    height: 300px;
}

.Fish1 {

    width: 500px;
    height: 300px;
}

.Potions {

    width: 100px;
    height: 100px;
}