* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.BackgroundHome {
    color: white;
    padding: 25px;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #000768, #000014);
}

.Navegação a:link,
.Navegação a:visited {

    color: #7752ff;
    text-decoration: none;
}

.Navegação a:hover,
.Navegação a:active {

    color: #6c93ff;
}

.Navegação {
    position: fixed;
    padding: 20px;
    background-color: rgb(7, 4, 10);
    height: 34%;
    left: 85%;
    border-radius: 10px;
    z-index: 1;
}

.Capa1 {

    width: 500px;
    height: 300px;
    border-radius: 7%;
    box-shadow: 0px 0px 10px rgba(126, 150, 255, 0.753);
}

.auraTitle::first-letter {
    font-size: 2em;
    color: #0012b1
}

.auraTitle {
    font-size: 2em;
    color: #0012b1
}

.aura {

    width: 200px;
    height: 200px;
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(126, 150, 255, 0.753);
}



.aura2 {

    width: 300px;
    height: 300px;
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(126, 150, 255, 0.753);
}


.Cutscenee::first-letter {
    font-size: 2em;
    color: #880088;
}

.Cutscenee {

    font-size: 2em;
    color: #880088;
}


.Quest_Board {

    width: 400px;
    height: 300px;
}


.Obby {

    width: 400px;
    height: 400px;
}

.Fish {

    width: 500px;
    height: 300px;
}

.Fish1 {

    width: 500px;
    height: 300px;
}

.gear {

    width: 200px;
    height: 200px;
}

.Potions {

    width: 130px;
    height: 130px;
    background-color: rgb(25, 25, 25);
}

.Sand {

    width: 500px;
    height: 300px;
}

.Bioma1 {

    width: 500px;
    height: 300px;
}

.Biomas {

    width: 500px;
    height: 300px;
}

.Windy_MSG {
    color: rgb(124, 255, 255);
}

.Snowy_MSG {

    color: rgb(171, 248, 255);
}

.Rainy_MSG {

    color: #4385FF;
}

.Sand_MSG {

    color: #F4C27C;
}

.Hell_MSG {

    color: #5C1219;
}


.Starfall_MSG {

    color: #6784E0;
}

.Corruption_MSG {

    color: #9042FF;
}

.Null_MSG {

    color: rgb(22, 22, 22);
}

.Pass_IMG {
    width: 500px;
    height: 300px;
}


.MyPin {

    border-radius: 50%;
    height: 100px;
    width: 100px;
}

@media (max-width: 550px) {

    .Video1 {
        max-width: 100%;
        width: auto;
    }

    .Quest_Board {
        max-width: 100%;
        width: auto;
    }

    .Pass_IMG {
        max-width: 100%;
        width: auto;
    }

    .Capa1 {

        max-width: 100%;
        width: auto;
    }

    .Fish,
    .Fish1 {

        width: 200px;
        height: 200px;
    }

    .Potions {
        height: 100px;
        width: auto;
    }

    .aura2 {
        height: 150px;
        width: auto;
    }

    .Sand {
        width: 260px;
        height: 210px;
    }

    .Biomas {
        max-width: 100%;
        width: auto;
    }
}